html {
  min-width: 320px;
  height: 100%;
  background: #1ea76d;
}

body {
  position: fixed;
  width: 100%;
  height: 100%;
  margin: 0;
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  background: -webkit-linear-gradient(left, #1ea76d, #0c8f9b);
  background: linear-gradient(to right, #1ea76d, #0c8f9b);
  background-repeat: no-repeat;
  background-attachment: fixed;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  [contenteditable='true']:focus {
    outline: none;
  }

  input:focus,
  select:focus,
  textarea:focus,
  button:focus {
    outline: none;
  }

  input.middle:focus {
    outline-width: 0;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

:root {
  /* typings */
  --typing-body-tiny-font-size: 0.7rem;
  --typing-body-tiny-line-height: 1;
  --typing-body-tiny-letter-spacing: normal;

  --typing-body-base-font-size: 1;
  --typing-body-base-line-height: 1;
  --typing-body-base-letter-spacing: normal;

  /* colors */
  --color-primary: #e76f51;
  --color-secondary: #f4a261;
  --color-secondary-lighter: #ffc291;
  --color-grey-lightest: #e9ecef;
  --color-grey-light: #dee2e6;
  --color-grey: #6c757d;
  --color-grey-dark: #495057;
  --color-grey-darkest: #343a40;
  --color-white: #fff;

  --color-error: #ae2012;
  --color-action-primary: -webkit-linear-gradient(
    90deg,
    var(--color-primary) 0%,
    var(--color-secondary) 100%
  );
  --color-action-primary-hover: -webkit-linear-gradient(
    0deg,
    var(--color-primary) 0%,
    var(--color-secondary) 100%
  );
  --color-action-primary-text: var(--color-white);
  --color-action-primary-text-hover: var(--color-white);
  --color-action-disabled: var(--color-grey);
  --color-action-disabled-text: var(--color-white);

  --color-text: var(--color-white);
  --color-input-background: transparent;
  --color-input-focused-background: transparent;
  --color-input-empty-background: transparent;
  --color-input-border: var(--color-white);
  --color-input-border-focused: var(--color-secondary-lighter);
  --color-input-text: var(--color-white);
  --color-input-text-focused: var(--color-secondary-lighter);

  --color-table-header-background: rgba(255, 255, 255, 0.3);
}
