.made-with-love {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 10px;
  color: #fff;
  font-size: 10px;
  font-family: arial, sans-serif;
  text-align: center;

  i {
    position: relative;
    top: 2px;
    color: #f50057;
    font-size: 14px;
    font-style: normal;
  }
  a {
    color: #fff;
    text-decoration: none;
    :hover {
      text-decoration: underline;
    }
  }
}
