@use "../../../styling/mediaQueries";

@keyframes animate-first-load {
  0% {
    opacity: 0.01;
  }
  100% {
    opacity: 1;
  }
}

.section {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  max-width: 700px;
  margin-right: auto;
  margin-left: auto;
  padding: 0 20px 20px;
  animation: animate-first-load 0.6s linear;

  fieldset,
  div {
    flex-basis: 33%;
  }

  h2 {
    flex-basis: 100%;
    max-width: 100%;
    height: 28px;
    margin-bottom: 0;
    overflow: hidden;
    color: var(--color-text);
    text-align: center;
    text-overflow: ellipsis;
  }

  div button {
    height: 50px;
  }

  @include mediaQueries.for-phone-only {
    fieldset {
      flex-basis: 49%;
    }

    div {
      display: none;
    }
  }
}
