:global .load-react-component-transition-appear {
  opacity: 1;
  .top-line-animated {
    right: 100%;
    transition: right 0.6s ease-in;
  }

  &.load-react-component-transition-appear-active {
    opacity: 1;
    transition: opacity 0.6s ease-in;
    .top-line-animated {
      right: 0;
      transition: right 0.6s ease-in;
    }
  }
}

.loading {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.div {
  height: 70vh;
  margin-top: 15vh;
  margin-bottom: 15vh;
}
