.wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  text-align: center;
}

.missing {
  position: absolute;
  top: 10px;
  width: 100%;
  padding-right: 30px;
  color: var(--color-grey);
  font-size: var(--typing-body-tiny-font-size);
  line-height: var(--typing-body-tiny-line-height);
  letter-spacing: var(--typing-body-tiny-letter-spacing);
  text-align: center;
}

.button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 15px 24px;
  color: var(--color-action-primary-text);
  font-weight: 300;
  font-size: var(--typing-body-base-font-size);

  font-style: normal;
  line-height: var(--typing-body-base-line-height);
  letter-spacing: var(--typing-body-base-letter-spacing);
  text-align: center;
  background: var(--color-action-primary);
  border: none;
  border-radius: 48px;
  transition: background 0.2s ease;
  user-select: none;

  &:hover {
    color: var(--color-action-primary-text-hover);
    text-decoration: none;
    background: var(--color-action-primary-hover);
    cursor: pointer;
    transition: all 0.2s ease;
  }

  .has-icon {
    padding-left: 64px;
    text-align: left;

    svg {
      position: absolute;
      top: 50%;
      left: 24px;
      width: 24px;
      height: auto;
      transform: translateY(-50%);
    }
  }

  .disabled {
    color: var(--color-action-disabled-text);
    background: var(--color-action-disabled);
    pointer-events: none;
  }
}
