.input {
  display: block;
  box-sizing: border-box;
  width: 100%;
  height: 50px;
  margin-bottom: 0;
  padding: 15px 24px;
  background: var(--color-input-background);

  border: 1px solid var(--color-input-border);
  border-radius: 50px;
  transition: border 0.2s ease;
  -webkit-appearance: none;

  &,
  &::placeholder {
    color: var(--color-input-text);
    font-weight: 300;
    font-size: var(--typing-body-base-font-size);
    line-height: var(--typing-body-base-font-size);
    letter-spacing: var(--typing-body-base-font-size);
  }

  .is-empty {
    background: var(--color-input-empty-background);
  }

  .has-icon {
    padding-left: 56px;
  }

  &:focus,
  &:focus-visible {
    border: 1px solid var(--color-input-border-focused);
    outline: none;
  }
}

.label {
  position: absolute;
  top: 50%;
  left: 24px;
  color: var(--color-input-text);

  font-weight: 300;
  font-size: var(--typing-body-base-font-size);
  line-height: var(--typing-body-base-font-size);
  letter-spacing: var(--typing-body-base-font-size);
  text-transform: capitalize;
  transform: translateY(-50%);
  transition: all 0.2s ease;
  user-select: none;

  &:hover {
    cursor: text;
  }
}

.error {
  padding-right: 24px;
  padding-left: 24px;
  color: var(--color-error);
}

.icon {
  position: absolute;
  top: 50%;
  left: 24px;
  color: var(--color-input-text);
  font-size: 21px;
  line-height: 21px;
  transform: translateY(-50%);
}

.field-set {
  position: relative;
  display: block;
  border: none;

  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-block-start: 0;
  padding-inline-start: 0;
  padding-inline-end: 0;
  padding-block-end: 0;

  &:focus-within .label,
  .label-with-content,
  &.has-error .label {
    top: -9px;
    left: 30px;
    color: var(--color-input-text-focused);
    font-size: var(--typing-body-tiny-font-size);
    line-height: var(--typing-body-tiny-line-height);
    letter-spacing: var(--typing-body-tiny-letter-spacing);
  }

  &:focus-within .input {
    border-color: var(--color-input-border-focused);
  }

  .label-with-content {
    color: var(--color-input-text);
  }

  &:focus-within .label:before,
  .label-with-content:before,
  &.has-error .label:before {
    position: absolute;
    top: calc(50% - 0.5px);
    left: -3px;
    z-index: -1;

    /* remove to activate label top position background */
    display: none;
    width: calc(100% + 6px);
    height: 2px;
    background: var(--color-input-focused-background);
    content: ' ';
  }

  &:focus-within .label:before,
  .label-with-content:before {
    background-color: #fff;
  }

  &.has-error {
    .label {
      color: var(--color-error);
    }

    input,
    select {
      border-color: var(--color-error);
    }
  }
}

.angle-icons {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 10px;

  svg {
    display: block;
    width: 10px;
    path {
      fill: var(--color-input-border);
    }
  }

  & span {
    :hover {
      cursor: pointer;
    }
  }
}
