@use "../../styling/mediaQueries";

@keyframes animate-first-load {
  0% {
    max-height: 1px;
  }
  50% {
    max-height: 1px;
  }
  100% {
    max-height: 100vh;
  }
}

@keyframes animate-line {
  0% {
    right: 100%;
    opacity: 1;
  }
  100% {
    right: 0;
    opacity: 1;
  }
}

@keyframes background-color {
  0% {
    background-color: transparent;
  }
  80% {
    background-color: transparent;
  }
  100% {
    background-color: var(--color-table-header-background);
  }
}

.animated-first-load {
  overflow: hidden;
  animation: animate-first-load 1s linear;

  &:before {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 191;
    display: block;
    height: 1px;
    background-color: var(--color-table-header-background);
    opacity: 0;
    animation: animate-line 0.5s linear;
    content: ' ';
  }

  .header {
    background-color: var(--color-table-header-background);
    animation: background-color 0.625s linear;
  }
}

.section {
  position: relative;
  margin: 0 50px 50px;

  table {
    width: 100%;
    table-layout: fixed;
    border: 0;

    th {
      padding: 20px 15px;
      color: #fff;
      font-weight: 500;
      font-size: 12px;
      text-align: left;
      text-transform: uppercase;
    }
    td {
      padding: 15px;
      color: #fff;
      font-weight: 300;
      font-size: 12px;
      text-align: left;
      vertical-align: middle;
      border-bottom: solid 1px rgba(255, 255, 255, 0.1);
    }
  }

  @include mediaQueries.for-phone-only {
    margin: 0;
    table {
      th:first-child,
      td:first-child {
        padding-left: 8px;
      }
      th:nth-child(3) {
        padding-left: 8px;
      }
    }
  }

  /* for custom scrollbar for webkit browser*/
  ::-webkit-scrollbar {
    width: 6px;
  }
  ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }
  ::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }
}

.header {
  background-color: rgba(255, 255, 255, 0.3);
}

.content {
  max-height: calc(70vh - 175px);
  margin-top: 0;
  overflow-x: auto;
  border: 1px solid rgba(255, 255, 255, 0.3);
  transition: max-height 0.05s linear;

  &.is-loading {
    max-height: 3rem;
  }
}

@keyframes moving-gradient {
  0% {
    background-position: -250px 0;
  }
  100% {
    background-position: 250px 0;
  }
}

.loading {
  display: inline-block;
  width: 90%;
  height: 1rem;
  background: linear-gradient(to right, #ffffff4d 20%, #ffffff75 50%, #ffffff4d 80%);
  background-size: 200%;
  animation: moving-gradient 1s linear infinite;
  animation-fill-mode: forwards;
}
